@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

*{
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

html{
  height: 100%;
}
input{
  width: 50%;
  height: 52px;
  margin: 12px 0 0 0;
  padding: 12px;
}

body{
  background-color: #000;
  -webkit-font-smoothing: antialised;
}

.content{
  display: flex;
  justify-content: space-between;
}
